
p{
  color: red;
}

div{
  color: red;

}

link{
  color: red;
}

body{

   background-image: url("https://i.pinimg.com/originals/67/b9/07/67b907a3f5316bdd9737cc86a67186d5.jpg");
   background-blend-mode: screen;
   margin-top: 50px;

}
#darken {
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
    /*darkness level control - change the alpha value for the color for darken/ligheter effect */
}

a{
    color: DodgerBlue;
}

a.header{
  font-size: 55px;
}
p{
  font-size: 40px;
}
div.description{
  font-size: 35px;
  color: yellow;
}
div.origin{
  font-size: 35px;
  color: yellow;
}

div.life_span{
  font-size: 35px;
  color: yellow;
}
img{
  height: 450px;
   width: 450px;

}
span.badge.badge-secondary{
  font-size: 100px;
  color: yellow;
  align-content: center;
}

div.location{
  color: yellow;
  font-size: 35px;
}

h1{
  color: yellow;
  font-size: 75px;
}

label{
  color: Tomato;
  font-size: 45px;
}

li{
  color: yellow;
  font-size: 45px;
}

h6{
  font-size: 30px;
}

div.cat_breed{
  color: yellow;
  font-size: 35px;
}

h4{
  color: yellow;
}

ul {
  list-style-type: square;
}
