body{
  background-color: DarkGray;
  color: purple;

}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}
p{
    color: purple;
}
a.header{
  font-size: 100px;
  color: white;
}
p{
  font-size: 70px;
}
div.description{
  font-size: 35px;
}
div.location{
  font-size: 35px;
}
label {
  font-size: 40px;
  color: white;
}
h1{
  font-size: 50px;
}
